<p>Document:</p>
<ul>
{{!-- Replace later with tex fields that make the meta data editable --}}
    <li>id: "{{document.id}}"</li>
    <li>title: "{{document.title}}"</li>
    <li>authors: "{{document.authors}}"</li>
    <li>date: "{{document.date}}"</li>
    <li>owner: <a href="/account/{{document.owner.id}}">{{document.owner.name}}</a></li>
    <li>group: <a href="/account/{{document.group.id}}">{{document.group.name}}</a></li>
</ul>

<p>Actions:</p>
<div>
    <button id="document-button-export-pdf">Export to PDF</button>
    <button id="document-button-export-zip">Export to ZIP</button>
    <button id="document-button-export-json">Export document (JSON)</button>
    <input id="document-input-import-json" type="file" accept="json">
    <button id="document-button-import-json">Import document (JSON)</button>
    <button id="document-button-save">Save document</button>
</div>

<p>Editor:</p>
<div>
    <div class="markdown-editor">
        <textarea id="document-content-render-input" cols="40" rows="50">{{document.content}}</textarea>
    </div>
    <div class="markdown-body" id="document-content-render-output"></div>
</div>
