{{> navigation_bar}}


<div class="container-document">
	<div class="container-document-content">

		<h1>
			<span id="document-title">{{document.title}}</span>
			<span id="document-authors">{{#if document.authors}} by {{document.authors}}{{/if}}</span>
		</h1>

		<br>

		{{!-- Display messages  --}}
		{{#if messages.exist}}
		<section class="section-document" id="section-document-messages">
			<ul class="messages">
				{{#each messages.texts}}
				<li><p class="message">{{this}}</p></li>
				{{/each}}
			</ul>
		</section>
		{{/if}}

		<section class="section-document" id="section-document-infos">
			<ul class="actions-vertical">
				<li><a class="button" href="/account/{{document.owner.id}}">Owner: {{document.owner.name}}</a></li>
				{{#if document.group.id}}
				<li><a class="button" href="/group/{{document.group.id}}">Group: {{document.group.name}}</a></li>
				{{/if}}
			</ul>
		</section>

		<section class="section-document" id="section-document-actions">
			<h2>Actions:</h2>
			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="document-button-edit-metadata" tabindex="0">Toggle edit metadata</a></li>
				<li><a class="button" id="document-button-edit-pdf-options" tabindex="0">Toggle edit PDF options</a></li>
				<li><a class="button" id="document-button-edit-members" tabindex="0">Toggle edit members</a></li>
			</ul>
			{{/if}}
			<ul class="actions-vertical">
				<li><a class="button" id="document-button-export-pdf" tabindex="0">Export to PDF</a></li>
				<li><a class="button" id="document-button-export-zip" tabindex="0">Export to ZIP</a></li>
				<li><a class="button" id="document-button-export-json" tabindex="0">Export document (JSON)</a></li>
				{{#if loggedIn}}
				<li><a class="button" id="document-button-update-create" tabindex="0">Save as new document</a></li>
				<li><a class="button" id="document-button-update" tabindex="0">Save document</a></li>
				<li><a class="button" id="document-button-remove" tabindex="0">Delete document</a></li>
				{{/if}}
			</ul>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-members">
			<h2>Members:</h2>

			{{#if isOwner}}
			<form id="form-member">
				<input id="input-member-add-name" class="input-text" type="text" name="memberName" placeholder="New member name...">
				<input id="input-member-add-write-access" type="checkbox" id="scales" name="writeAccess">
				<label for="writeAccess">Write access</label>
			</form>

			<ul class="actions-vertical">
				<li><a class="button" id="button-member-add" tabindex="0">Add new member</a></li>
			</ul>
			{{/if}}

			<ul class="element-list" id="element-list-members">
				{{#each document.members}}
				{{> access_member}}
				{{/each}}
			</ul>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-metadata">
			<h2>Metadata:</h2>
			<form>
				<label for="document-title">Title:</label><br>
				<input type="text" id="document-info-title" class="input-text" name="document-title" value="{{document.title}}"><br>

				<label for="document-authors">Authors:</label><br>
				<input type="text" id="document-info-authors" class="input-text" name="document-authors" value="{{document.authors}}"><br>

				<label for="document-date">Date:</label><br>
				<input type="text" id="document-info-date" class="input-text" name="document-date" value="{{document.date}}">

				<br>
				<input  type="checkbox" id="document-info-public" class="input-checkbox" name="document-public" {{#if document.public}}checked{{/if}}>
				<label for="document-public">Public</label>
			</form>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-pdf-options">
			<h2>PDF options:</h2>
			<form>
				{{#each document.pdfOptions}}
				{{#if this.labelBefore}}
				<label for="pdf-options-{{this.name}}">{{this.label}}</label><br>
				{{/if}}
				<input type="{{this.type}}" id="input-pdf-options-{{this.name}}" class="{{#if this.isCheckbox}}input-checkbox{{else}}input-text{{/if}}" name="pdf-options-{{this.name}}" value="{{this.value}}" {{this.attribute}}>
				{{#if this.labelAfter}}
				<label for="pdf-options-{{this.name}}">{{this.label}}</label>
				{{/if}}
				<br>
				{{/each}}
			</form>
		</section>

		<section class="section-document" id="section-document-editor">
			<h2>Editor:</h2>

			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="collaboration-button" tabindex="0">Enable collaboration</a></li>
			</ul>
{{> collaboration_test_editor_header idMain="connected-users" idList="connected-users-list"}}
			{{/if}}

			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="marktex-button-both" tabindex="0">Both</a></li>
				<li><a class="button" id="marktex-button-edit" tabindex="0">Edit</a></li>
				<li><a class="button selected" id="marktex-button-view" tabindex="0">View</a></li>
			</ul>
			{{/if}}
{{> marktex_document_editor idEditor="marktex-editor" idInput="marktex-input" idOutput="marktex-output" modusViewOnly=true input=document.content}}
		</section>
