{{> navigation_bar}}


<div class="container-document">
	<div class="container-document-content">

		<h1>
			<span id="document-title">{{document.title}}</span>
			<span id="document-authors">{{#if document.authors}} by {{document.authors}}{{/if}}</span>
		</h1>

		<br>

		{{!-- Display messages  --}}
		{{#if messages.exist}}
		<section class="section-document" id="section-document-messages">
			<ul class="messages">
				{{#each messages.texts}}
				<li><p class="message">{{this}}</p></li>
				{{/each}}
			</ul>
		</section>
		{{/if}}

		<section class="section-document" id="section-document-infos">
			<ul class="actions-vertical">
				<li><a class="button" href="/account/{{document.owner.id}}">Owner: {{document.owner.name}}</a></li>
				{{#if document.group.id}}
				<li><a class="button" href="/group/{{document.group.id}}">Group: {{document.group.name}}</a></li>
				{{/if}}
			</ul>
		</section>

		<section class="section-document" id="section-document-actions">
			<h2>Actions:</h2>
			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="document-button-edit-metadata">Toggle edit metadata</a></li>
				<li><a class="button" id="document-button-edit-pdf-options">Toggle edit PDF options</a></li>
				<li><a class="button" id="document-button-edit-members">Toggle edit members</a></li>
			</ul>
			{{/if}}
			<ul class="actions-vertical">
				<li><a class="button" id="document-button-export-pdf">Export to PDF</a></li>
				<li><a class="button" id="document-button-export-zip">Export to ZIP</a></li>
				<li><a class="button" id="document-button-export-json">Export document (JSON)</a></li>
				{{#if loggedIn}}
				<li><a class="button" id="document-button-update-create">Save as new document</a></li>
				<li><a class="button" id="document-button-update">Save document</a></li>
				<li><a class="button" id="document-button-remove">Delete document</a></li>
				{{/if}}
			</ul>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-members">
			<h2>Members:</h2>

			{{#if isOwner}}
			<form id="form-member">
				<input id="input-member-add-name" class="input-text" type="text" name="memberName" placeholder="New member name...">
				<input id="input-member-add-write-access" type="checkbox" id="scales" name="public">
				<label for="public">Write access</label>
			</form>

			<ul class="actions-vertical">
				<li><a class="button" id="button-member-add">Add new member</a></li>
			</ul>
			{{/if}}

			<ul class="element-list" id="element-list-members">
				{{#each document.members}}
				<li>
					<a class="button" href="/account/{{this.accountId}}">{{this.accountName}}</a>
					<a class="button button-update button-update-write-access" memberId="{{this.id}}" memberAccountName="{{this.accountName}}" memberWriteAccess="{{this.writeAccess}}">{{#if this.writeAccess}}read-write{{else}}read-only{{/if}}</a>
					<a class="button button-remove button-remove-member" memberId="{{this.id}}" memberAccountName="{{this.accountName}}">Remove</a>
				</li>
				{{/each}}
			</ul>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-metadata">
			<h2>Metadata:</h2>
			<form>
				<input type="number" id="document-info-id" name="id" value="{{document.id}}" hidden>
				<input type="number" id="document-info-id-owner" name="owner-id" value="{{document.owner.id}}" hidden>
				<input type="number" id="document-info-id-group" name="group-id" value="{{document.group.id}}" hidden>

				<label for="document-title">Title:</label><br>
				<input type="text" id="document-info-title" name="document-title" value="{{document.title}}"><br>

				<label for="document-authors">Authors:</label><br>
				<input type="text" id="document-info-authors" name="document-authors" value="{{document.authors}}"><br>

				<label for="document-date">Date:</label><br>
				<input type="text" id="document-info-date" name="document-date" value="{{document.date}}">
			</form>
		</section>

		<section class="section-document can-be-toggled hide-element" id="section-document-pdf-options">
			<h2>PDF options:</h2>
			<form>
				{{#each document.pdfOptions}}
				{{#if this.labelBefore}}
				<label for="pdf-options-{{this.name}}">{{this.label}}</label><br>
				{{/if}}
				<input type="{{this.type}}" id="input-pdf-options-{{this.name}}" name="pdf-options-{{this.name}}" value="{{this.value}}" {{this.attribute}}>
				{{#if this.labelAfter}}
				<label for="pdf-options-{{this.name}}">{{this.label}}</label>
				{{/if}}
				<br>
				{{/each}}
			</form>
		</section>

		<section class="section-document" id="section-document-editor">
			<h2>Editor:</h2>

			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="collaboration-button">Enable collaboration</a></li>
			</ul>
{{> collaboration_test_editor_header idMain="connected-users" idList="connected-users-list"}}
			{{/if}}

			{{#if loggedIn}}
			<ul class="actions-vertical">
				<li><a class="button" id="marktex-button-both">Both</a></li>
				<li><a class="button" id="marktex-button-edit">Edit</a></li>
				<li><a class="button selected" id="marktex-button-view">View</a></li>
			</ul>
			{{/if}}
{{> marktex_document_editor idEditor="marktex-editor" idInput="marktex-input" idOutput="marktex-output" modusViewOnly=true input=document.content}}
		</section>
