<p>Document:</p>
<ul>
{{!-- Replace later with tex fields that make the meta data editable --}}
    <li>id: "{{document.id}}"</li>
    <li>title: "{{document.title}}"</li>
    <li>authors: "{{document.authors}}"</li>
    <li>date: "{{document.date}}"</li>
    <li>owner: <a href="/account/{{document.owner.id}}">{{document.owner.name}}</a></li>
    <li>group: <a href="/account/{{document.group.id}}">{{document.group.name}}</a></li>
</ul>

<p>Actions:</p>
<div>
    <button>Export to PDF</button>
    <button>Export to ZIP</button>
</div>

<p>Editor:</p>
<div>
    <div class="markdown-editor">
        <textarea cols="40" rows="50">{{document.content}}</textarea>
    </div>
    <div class="markdown-body"></div>
</div>
