{{> navigation_bar}}


<div class="container-group">
	<div class="container-group-content">

		<h1>
			<span id="group-name">{{group.name}}</span>
		</h1>

		<br>

		<section class="section-document" id="section-document-infos">
			<ul class="actions-vertical">
				<li><a class="button" href="/account/{{group.owner.id}}">Owner: {{group.owner.name}}</a></li>
			</ul>
		</section>

		<section class="section-group" id="section-group-members">
			<h2>Members:</h2>

			{{#if isOwner}}
			<form id="form-member">
				<input id="input-member-add-name" class="input-text" type="text" name="memberName" placeholder="New member name...">
				<input id="input-member-add-write-access" type="checkbox" id="scales" name="public">
				<label for="public">Write access</label>
			</form>

			<ul class="actions-vertical">
				<li><a class="button" id="button-member-add">Add new member</a></li>
			</ul>
			{{/if}}

			<ul class="element-list" id="element-list-members">
				{{#each group.members}}
				{{> access_member}}
				{{/each}}
			</ul>
		</section>

		<section class="section-group" id="section-group-documents">
			<h2>Documents:</h2>
			<ul>
				{{#each group.documents}}
				<li><a class="button" href="/document/{{this.id}}">{{this.title}} by {{this.authors}} ({{this.date}})</a></li>
				{{/each}}
			</ul>
		</section>

	</div>
</div>
