{{> navigation_bar}}


<div class="container-home">
	<div class="container-home-content">

		<h1>Welcome to MarkTeX</h1>

		<br>

		<section class="section-home" id="section-home-messages">
			{{> messages}}
		</section>

		{{#if loggedIn}}

		<section class="section-home" id="section-home-documents">
			<h2>Documents:</h2>

			<ul class="actions-vertical">
				<li><a class="button" id="button-document-new" tabindex="0">Create new document</a></li>
				<li>
					<a class="button" id="button-document-import-json" tabindex="0">Import document (JSON)</a>
					<input class="invisible" id="input-document-import-json" type="file" accept="json">
				</li>
			</ul>

			<ul class="element-list" id="element-list-documents">
				{{#each documents}}
				{{> document_entry}}
				{{/each}}
			</ul>
		</section>

		<section class="section-home" id="section-home-groups">
			<h2>Groups:</h2>

			<ul class="actions-vertical">
				<li><a class="button" id="button-group-new" tabindex="0">Create new group</a></li>
			</ul>

			<ul class="element-list" id="element-list-groups">
				{{#each groups}}
				{{> group_entry}}
				{{/each}}
			</ul>
		</section>

		<section class="section-home" id="section-home-friends">
			<h2>Friends:</h2>

			<input class="input-text" type="text" name="friendName" id="input-friend-add" placeholder="New friend name...">

			<ul class="actions-vertical">
				<li><a class="button" id="button-friend-add" tabindex="0">Add new friend</a></li>
			</ul>

			<ul class="element-list" id="element-list-friends">
				{{#each friends}}
				{{> friend_entry}}
				{{/each}}
			</ul>
		</section>

		<section class="section-home" id="section-home-account">
			<h2>Update:</h2>

			<ul class="actions-vertical">
				<li><a class="button" id="button-account-update" tabindex="0">Update account</a></li>
			</ul>

			{{!-- Account update form --}}
			<form id="form-account" action="/api/account/update" method="post">
				{{!-- Account name --}}
				<input id="input-account-update-name" class="input-text" type="text" name="name" placeholder="Account name..."
					pattern="{{input.accountName.pattern}}"
					maxlength="{{input.accountName.maxLength}}"
					title="{{input.accountName.errorMessage}}"
					autocomplete="autocomplete-login"
					value="{{input.accountName.value}}"
				>
				{{!-- Current Password --}}
				<input id="input-account-update-password" class="input-text" type="password" name="password" placeholder="Current account password..."
					pattern="{{input.accountPassword.pattern}}"
					minLength="{{input.accountPassword.minLength}}"
					title="{{input.accountPassword.errorMessage}}"
					autocomplete="current-password"
				required>
				{{!-- New Password --}}
				<input id="input-account-update-new-password" class="input-text" type="password" name="newPassword" placeholder="New password..."
					pattern="{{input.accountPassword.pattern}}"
					minLength="{{input.accountPassword.minLength}}"
					title="{{input.accountPassword.errorMessage}}"
					autocomplete="new-password"
				>

				<input id="input-account-update-public" type="checkbox" name="public" {{#if account.public}}checked{{/if}}>
				<label for="public">Public</label>

			</form>
		</section>

		{{/if}}

		<section class="section-home" id="section-home-actions">
			<ul class="actions-vertical">
				{{#if loggedIn}}
				<li><a class="button" id="button-account-remove" tabindex="0">Delete account</a></li>
				{{else}}
				<li><a class="button" href="/login">Create account or log in</a></li>
				{{/if}}
			</ul>
		</section>

	</div>
</div>
