{{!--
Login page template
--------------------------------------------------------------------------------
{
	input: {
		accountName: {
			pattern: string,
			maxLength: number,
			errorMessage: string
		},
		accountPassword: {
			pattern: string,
			minLength: number,
			errorMessage: string
		}
	}
	messages: { exist?: boolean, texts?: string[] }
}
--}}


{{> navigation_bar}}


<div class="container-login">
	<div class="container-login-content">

		<h1>Login/Register</h1>

		<br>

		<section class="section-login" id="section-login-messages">
			{{> messages}}
		</section>

		<section class="section-login" id="section-login-form">
			{{!-- Login/Register form --}}
			<form id="form-login-register" action="/account_login" method="post">
				{{!-- Account name --}}
				<input class="input-text " type="text" name="name" placeholder="Account name..."
					pattern="{{input.accountName.pattern}}"
					maxlength="{{input.accountName.maxLength}}"
					title="{{input.accountName.errorMessage}}"
					autocomplete="autocomplete-login-name"
				required>
				{{!-- Password --}}
				<input class="input-text" type="password" name="password" placeholder="Account password..."
					pattern="{{input.accountPassword.pattern}}"
					minLength="{{input.accountPassword.minLength}}"
					title="{{input.accountPassword.errorMessage}}"
					autocomplete="autocomplete-login-password"
				required>
				{{!-- Invisible submit input to allow submission on enter in any of the previous text input fields --}}
				<input id="formSubmit" type="submit" hidden>
			</form>
			{{!-- Login input buttons --}}
			<ul class="actions-vertical">
				{{!-- Login button --}}
				<li><a class="button" id="login-button-login">Login</a></li>
				{{!-- Register button --}}
				<li><a class="button" id="login-button-register">Register</a></li>
			</ul>
		</section>
	</div>
</div>
