{{!--
Login page template
--------------------------------------------------------------------------------
Login page where the user can log himself in to get to the main page.
Server: When already logged in redirect the user to the main page.
JavaScript: Through `login.js` the user can also register himself.
--------------------------------------------------------------------------------
Requires:
- login.css
- login.js
--------------------------------------------------------------------------------
Parameters:
- accountInput: { pattern: regex-string, maxLength: number, errorMessage:string }
- passwordInput: { pattern: regex-string, minLength: number, errorMessage:string }
- messages: { exists: boolean, texts?: string[] }
--}}

<div class="container-login">
	<div class="container-login-message">

		{{!-- Title --}}
		<h1>Login/Register</h1>

		<br><br>

		{{!-- Display messages (example: login was unsuccessful) --}}
		{{#if messages.exist}}
		<section id="section-login-messages">
			{{#each messages.texts}}
			<p class="message">{{this}}</p>
			{{/each}}
		</section>
		{{/if}}

		{{!-- Login/Register form --}}
		<section id="section-login-form">
			{{!-- Login input form --}}
			<form id="form-login-register" action="/api/account/login" method="post">
				{{!-- Account name --}}
				<input type="text" name="name" placeholder="Account name..."
					pattern="{{input.accountName.pattern}}"
					maxlength="{{input.accountName.maxLength}}"
					title="{{input.accountName.errorMessage}}"
					autocomplete="autocomplete-login"
				required>
				{{!-- Password --}}
				<input type="password" name="password" placeholder="Account password..."
					pattern="{{input.accountPassword.pattern}}"
					minLength="{{input.accountPassword.minLength}}"
					title="{{input.accountPassword.errorMessage}}"
					autocomplete="current-password"
				required>
				{{!-- Invisible submit input to allow submission on enter in any of the previous text input fields --}}
				<input id="formSubmit" type="submit" />
			</form>
			{{!-- Login input buttons --}}
			<div class="loginActions">
				{{!-- Login button --}}
				<a class="button" id="login-button-login">Login</a>
				{{!-- Register button --}}
				<a class="button" id="login-button-register">Register</a>
			</div>
		</section>
	</div>
</div>
