<li>
	<a class="button" href="/document/{{this.id}}">{{this.title}} {{#if this.authors}}by {{this.authors}}{{/if}} {{#if this.date}}({{this.date}}){{/if}}</a>
	<a class="button button-remove button-remove-document" documentId="{{this.id}}" documentName="{{this.title}}">Remove</a>
</li>
