<div id="{{idEditor}}" class="container-marktex-editor {{#if modusViewOnly}}only-view{{else if modusEditOnly}}only-edit{{/if}}">
	<div class="container-marktex-editor-input">
		<textarea id="{{idInput}}" class="mousetrap" name="markdown-input">{{input}}</textarea>
	</div>
	<div class="container-marktex-editor-output">
		<div id="{{idOutput}}" class="markdown-body-page"></div>
	</div>
</div>
